
.memory-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.card-imagem {
    width: 450px;
    height: 300px;
    background-image: url("../assets/img/bg1.png");
    background-size: cover;
}

.texto {
    margin: 20px auto;
    
}